<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests">
    <groups>
        <define name="smoke"/>
        <define name="regression"/>
    </groups>
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.radic.masterthesis.sample.android.PlayersTest.SmokeTestPlayers"/>
            <class name="com.radic.masterthesis.sample.android.SurveyListTest.SmokeTestSurvey"/>
            <class name="com.radic.masterthesis.sample.android.TeamStatsTest.SmokeTestTeamStats"/>
            <class name="com.radic.masterthesis.sample.android.SurveyListTest.FunctionalTestSurvey"/>
            <class name="com.radic.masterthesis.sample.android.PlayersTest.FunctionalTestPlayers"/>
            <class name="com.radic.masterthesis.sample.android.TeamStatsTest.FunctionalTestTeamStats"/>
        </classes>
    </test>
</suite>
